body { 
    text-align: center;
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    .container { 
        height: 200px;
        position: relative;
        border: 3px solid black; 
      }